p { margin: 0em; }
#navbox, .ql-snow.ql-toolbar { display: inline-block; border: none; padding: 0px;}
.ql-editor { letter-spacing: 1px; line-height: 1.4; height: auto; word-wrap: break-word; border: 1px solid #ccc}
#quill { height: auto; }

.ql-snow.ql-toolbar button,
.ql-snow .ql-color-picker {
    border: 1px solid black;
    border-radius: 4px;
    height: 48px;
    width: 56px;
    padding: 6px 10px;
    margin: 3px;
    background-color: #eee;
    box-shadow: inset 4px 4px 4px white, inset -4px -4px 4px #aaa;
}
.ql-snow.ql-toolbar button:active,
.ql-snow .ql-color-picker:active
{
    box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px white;
}

button svg {width: 34px; height: 34px;}
.ql-snow .ql-formats {
    display:  block;
}